body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
#top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#user-strap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 4.8vh;
    color: #918E8E;
    font-family: 'Inter';
    font-size: 14px;

}

#user-icons-container {
    margin-right: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-icon {
    padding-left: 0.7vw;
}

#search {
    margin-top: 8px;
    font-size: 14px;
}

#magnifying-glass {
    margin-top: 6px;
    margin-left: -0.5vw;
}

#user-account-icon {
    margin-top: 9px;
    margin-left: -0.2vw;
}


#wishlist-icon {
    margin-top: 6px;
}

#shopping-bag {
    margin-top: 7px;
}

#navigation-strap {
    width: 70%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 14px;

}
#navigation-strap > *{
    height: 100%;
}
#navigation-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-between;
    width: calc(100% / 3);
}
.navigation-button{
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);

}
#social-media-icons-container{
    width: calc(100% / 3);
justify-content: flex-end;
    display: flex;
    align-items: center;
}
#social-media-icons-container > *{
    height: 100%;
    padding-left: 1vw;
}
#bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
}
#slides{
    height: 400px;
    width: 70vw;
    
}
.slide{
    height: 100%;
    position: relative;
    border: 3px solid green;

}
#slide1{
    width: 70vw;
    position: absolute;
    z-index: -5;
}

#dots-container{
    border: 2px solid red;
    width: 100%;
    flex-direction: row;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-end;

}

.dot{
height: 25px;
width: 25px;
border-color: rgb(255, 255, 255);
border-radius: 100%;
border-style: solid;  
margin-left: 0.5vw;
margin-right: 0.5vw;
}

.dot-filled{
    background-color: rgb(255, 255, 255);
    height: 25px;
width: 25px;
border-color: rgb(255, 255, 255);
border-radius: 100%;
border-style: solid;
margin-left: 0.5vw;
margin-right: 0.5vw;
}
 #collection-forwarding-ad-container{
    margin-top: ;
    width: 70vw;
    display: flex;
    flex-direction: row;

 }
 #collection-ad{
    width: 40vw;
 }
 #collection-description-part{
width: 29.5vw;
height: px;
background-color:rgba(61, 44, 44, 1) ;
display: flex; 
flex-direction: column;
align-items: center;}

#forwarding-button{
    padding: 1rem;
    padding-left: 4rem;
    margin-top: 2rem;
    padding-right: 4rem;
    border: 3px solid white;
    color: white;
    border-radius: 13px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center}


    #collection-ad-text-container{
        margin-top: 32%;
           display: flex;
        justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}
#collection-name{
    font-size: 36px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    letter-spacing: 2px;
}

arrows-container{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    height: fit-content;
    padding-top:15vw ;}



swiping-arrow{
    width: 2rem;
    height: 2rem;
    background-color: blue;
}

footer{
    margin-top: 5vh;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    height: 25vh;
flex-direction: row;
}

#newsletter-container{
    padding-top: 1vh;
    width: 45vw;
    height: 100%;
   padding-left: 5vw;
   display: flex;
   flex-direction: column;

}
#title{
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 2px;
    

    
}

#newsletter-description{
    padding-top: 1vh;
    font-weight:50;
    letter-spacing: 2px;
    line-height: 27px;
}

#sing-up-button{
    color: white;
    background-color: rgba(145, 142, 142, 1);
    border-radius: 0px;
    border-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight:50;

    
}
#input-container{
    padding-top: 2.5vh;
    font-size: 14px;
}
#mail-input{
    height: 3vh;
    width: 25vw;
    font-size: 18px;
    border: 0;
}

input:focus {
    outline:none;
}

#regulamin-container{
    padding-top: 2vh;
    width: 45vw;
    height: 100%;
   padding-right: 5vw;
   display: flex;

}

.kolumna{
    display: flex;
    flex-direction: column;
    padding-left: 10.5vw;
    justify-content: center;
    align-items: baseline;
    line-height: 27px;
}