body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
#top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#user-strap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 4.8vh;
    color: #918E8E;
    font-family: 'Inter';
    font-size: 14px;

}

#user-icons-container {
    margin-right: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-icon {
}
#wishlist-counter{
    display: flex;
    align-self: flex-end;   
}
#shopping-cart-counter{
    display: flex;
    align-self: flex-end;
    padding-left:0;
}
#search {
    padding-left: 0.7vw;

    margin-top: 8px;
    font-size: 14px;
}

#magnifying-glass {
    padding-left: 0.7vw;

    margin-top: 6px;
    margin-left: -0.5vw;
}

#user-account-icon {
    padding-left: 0.7vw;

    margin-top: 9px;
    margin-left: -0.2vw;
}


#wishlist-icon {
    padding-left: 0.7vw;

    margin-top: 6px;
}

#shopping-bag {
    margin-top: 7px;
}

#navigation-strap {
    width: 70%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 14px;

}
#navigation-strap > *{
    height: 100%;
}
#navigation-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-between;
    width: calc(100% / 3);
}
.navigation-button{
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);

}
#social-media-icons-container{
    width: calc(100% / 3);
justify-content: flex-end;
    display: flex;
    align-items: center;
}
#social-media-icons-container > *{
    height: 100%;
    padding-left: 1vw;
}
#bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

#slides-container{
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#dots-container{
    height: fit-content;
    width: 9vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
margin-bottom: 0.5%;
position: absolute;
}

.dot{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 3px solid white;
}
.full-dot{
    
    background-color: rgb(255, 255, 255);
    
}

.slide{
    width: 100%;
    z-index: -5;
    height: 100%;
    position: relative;
}
#arrows-container{
    height: fit-content;
    width: 70vw;
    align-self: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.arrow{

}

#collection-advertisement{
    margin-top: 5vh;
    width: 70vw;
    height: 70vh;
    display: flex;
}
#ad-photo{
    width: 65%;
}
#ad-text-container{
    height: 100%;
    width: 35%;
    background-color: rgba(61, 44, 44, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 36px;
}

#ad-description{
    color: white;
    font-size: 14px;
    padding-top: 0.2rem;
}

#link-button{
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top:0.5rem ;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
}

footer{
    margin-top: 5vh;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    height: 25vh;
flex-direction: row;
}

#newsletter-container{
    padding-top: 1vh;
    width: 45vw;
    height: 100%;
   padding-left: 5vw;
   display: flex;
   flex-direction: column;

}
#title{
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 2px;
    
}


#newsletter-description{
    padding-top: 1vh;
    font-weight:50;
    letter-spacing: 2px;
    line-height: 27px;
}

#sing-up-button{
    color: white;
    background-color: rgba(145, 142, 142, 1);
    border-radius: 0px;
    border-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight:50;

    
}
#input-container{
    padding-top: 2.5vh;
    font-size: 14px;
}
#mail-input{
    height: 3vh;
    width: 25vw;
    font-size: 18px;
    border: 0;
}

input:focus {
    outline:none;
}

#regulamin-container{
    padding-top: 2vh;
    width: 45vw;
    height: 100%;
   padding-right: 5vw;
   display: flex;

}

.kolumna{
    display: flex;
    flex-direction: column;
    padding-left: 10.5vw;
    justify-content: center;
    align-items: baseline;
    line-height: 27px;
}